<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>パスワード変更（step5）</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <div th:replace="~{step5_beyond/common/header :: header}"></div>
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
            <div class="well">
                <form method="post" th:action="@{/beyond/changePassword}" th:object="${beyondChangePasswordForm}">
                    <fieldset>
                        <legend>パスワード変更（22-1）</legend>
                        <div class="form-group">
                            <label for="currentPassword">現在のパスワード</label>
                            <label th:errors="*{currentPassword}" class="error-messages"></label>
                            <input type="password" th:field="*{currentPassword}" id="currentPassword" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="newPassword">新しいパスワード</label>
                            <label th:errors="*{newPassword}" class="error-messages"></label>
                            <input type="password" th:field="*{newPassword}" id="newPassword" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="newPasswordConfirm">確認用</label>
                            <label th:errors="*{newPasswordConfirm}" class="error-messages"></label>
                            <input type="password" th:field="*{newPasswordConfirm}" id="newPasswordConfirm" class="form-control"/>
                        </div>
                        <button type="submit" class="btn btn-primary">変更する</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
